
.grid-parent{
    width: 80vw;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}


.image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    
    img{
        margin: 0 auto;
    }
    
    span{
        margin: 0 auto;
    }
}
@media only screen
and (max-width: 1300px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 4em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }


}

@media only screen
and (max-width: 1080px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 3em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 999px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 2em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 920px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 3em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 796px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 2.5em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 768px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 4em;
        width: auto;
        padding: 4em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 665px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 4em;
        width: auto;
        padding: 6em;
        margin: 0 auto;
        overflow: hidden;
    }

}

@media only screen
and (max-width: 500px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px;
        grid-auto-rows: 1fr;
        grid-gap: 2em;
        width: auto;
        padding: 3em;
        margin: 0 auto;
        overflow: hidden;

        img{
        transform: scale(0.8);
        }
    }

}

@media only screen
and (max-width: 428px) {
    #grid-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 110px 110px;
        grid-gap: 1.5em;
        width: auto;
        padding: 3em;
        margin: 0 auto;
        overflow: hidden;

        img{
        transform: scale(.8)
        }
    }


}